* text=auto
*.ps1 text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.service text eol=lf
*.timer text eol=lf
*.bat text eol=crlf
Dockerfile text eol=lf
Caddyfile text eol=lf
Caddyfile.local text eol=lf
website text eol=lf
